<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="layout :: htmlhead"></head>
    <body>
        <div class="container">
            <nav th:replace="layout :: menu">(menu)</nav>
            <nav aria-label="breadcrumb">
	            <ol class="breadcrumb">
	   				<li class="breadcrumb-item"><a href="/home">Home</a></li>
	   				<li class="breadcrumb-item"><a href="/servico">Servico</a></li>
	   				<li class="breadcrumb-item active" aria-current="page">Cadastro de Servico</li>
				</ol>
			</nav>
            <div class="border border-dark">
                <form th:action="@{/servico(form)}" th:object="${servico}" action="#" method="post">
                	<input type="hidden" id="txtcod"  th:field="*{codServico}">
                	<div class="form-group">
                		
                		<label for="txtNome">Tipo de Servico</label>
                		<input type="text" class="form-control" th:field="*{tipoServico}"  id="txttipo" placeholder="Inserir TIpo de Servico">
                		
                		<label for="dateNasc">Descricao</label>
                		<input type="text" class="form-control" th:field="*{descServico}" id="txtNasc" placeholder="Inserir Descricao">
                	</div>
                	<button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
        <div th:include="layout :: footer" id="footer">(footer)</div>
    </body>
</html>